@font-face{
    font-family: "Gotham";
    src: url(../fonts/gotham_medium_regular.woff);
}

@font-face{
    font-family: "Gothambook";
    src: url(../fonts/GothamBook.ttf);
}

@font-face{
    font-family: "Gothambold";
    src: url(../fonts/GothamBold.ttf);
}