.footer {
    padding: 205px 0 205px;
    width: 100%;
    box-sizing: border-box;
    background: url(../img/footerBg.png);
    background-size: cover;
    position: relative;
    &__wrapper {
      width: 770px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      color: #fff;

      a {
        text-decoration: none;
      }
    }
    &__logo {
      flex: 0 0 50%;
    }
    &__links {
      flex: 0 0 50%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
    }
    &__link + &__link {
      margin-left: 20px;
    }
    &__link {
      &:hover {
        opacity: 0.5;
      }
    }
    &__copy {
      margin-top: 50px;
      flex: 0 0 100%;
      font-size: 14px;
      line-height: 22px;
      img {
        width: 15px;
        height: 12px;
      }
    }
  }


  #map{
    width: 100%;
    height: 700px;
}