.getInTouch {
    width: 770px;
    margin: auto;
    padding-top: 60px;
    background-color: #fff;
    position: absolute;
    left: 30%;
    top: -300px;
    
    hr {
        width: 100px;
        height: 1px;
        background-color: #2c4058;
    }

    &__title {
        color: #2c4058;
    font-family: Gotham;
    font-size: 44px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    }

    &__content{
        display: flex;
        margin-top: 60px;
        justify-content: center;
    }
    &__contact{
        :not(:last-child){
            padding-bottom: 40px;
            margin-right: 53px;
        }
        .contact__item {
        color: #2c4058;
        font-family: "Gotham - Book";
        font-size: 18px;
        font-weight: 400;
        line-height: 34px;
    }
}
    

    &__form{
        display: flex;
        flex-direction: column;

        input {
            border: none;
            border-bottom: 1px #2c4058 solid;
            height: 50px;
            width: 100%;
        }
    }
    &__name {
        margin-bottom: 40px;
    }

    &__email {
        margin-bottom: 30px;
    }

    &__btn {
        margin-left: auto;
        @include button
    }
}