.getInTouch {
    width: 770px;
    margin: auto;
    padding-top: 60px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -385px;
    top: -300px;
    @media screen and(max-width:767px){
        max-width: 100%;
        margin: auto;
        left: 0;
    }
    @media screen and(max-width:470px){
        display: flex;
        flex-direction: column;
    }
    
    hr {
        width: 100px;
        height: 1px;
        background-color: #2c4058;
    }

    &__title {
        color: #2c4058;
    font-family: "Gotham";
    font-size: 44px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: center;
    @media screen and(max-width:470px){
        font-size: 36px;
        line-height: 36px;
    }
    }

    &__content{
        display: flex;
        margin-top: 60px;
        justify-content: center;
        @media screen and(max-width:470px){
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }
    }
    &__contact{
        :not(:last-child){
            padding-bottom: 40px;
            margin-right: 53px;
            @media screen and(max-width:767px){
                padding-bottom: 20px;

            }
        }
        .contact__item {
        color: #2c4058;
        font-family: "Gothambook";
        font-size: 18px;
        font-weight: 400;
        line-height: 34px;
        display: flex;
        align-items: center;
        @media screen and(max-width:767px){
            font-size: 14px;
        }
        img {
            padding-right: 10px;
        }
    }
}
    

    &__form{
        display: flex;
        flex-direction: column;
        @media screen and(max-width:470px){
            margin-top: 20px;
        }

        input {
            border: none;
            outline: none;
            border-bottom: 1px #2c4058 solid;
            height: 50px;
            width: 100%;
            &:focus{
                border: 2px solid #7E5AFF;
                border-radius: 5px;
            }
            }
        }
    &__name {
        margin-bottom: 40px;
        @media screen and(max-width:767px){
            margin-bottom: 20px;
        }
    }

    &__email {
        margin-bottom: 30px;
        @media screen and(max-width:767px){
            margin-bottom: 15px;
        }
    }

    &__btn {
        margin-left: auto;
        @include button;
        @media screen and(max-width:470px){
            margin-bottom: 20px;
        }
    }
}