.header{
    padding: 20px 0;
    display: flex;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media screen and(max-width:1000px){
        flex-direction: column;
        padding: 0px;
    }

    &__burger{
        cursor: pointer;
        img{
            width: 36px;
            height: 36px;
        }
        @media screen and(min-width:767px){
            display: none;
        }
    }

    &__menu {
        transition:  0.3s ease;
        font-family: "Gothambook";
        @media screen and(max-width:767px){
            position: relative;
        }
        @media screen and(max-width:500px){
            width: 100%;
        }
     
    }
    &__menu-tooggler{
        opacity: 1;
        @media screen and(max-width:767px){
            opacity: 0;
        }
        transition:  0.3s ease;
    }

    &__wrapper{
        @media screen and(max-width:767px){
            display: flex;
            justify-content: space-around;
            width: 100%;
            align-items: center;
            margin-bottom: 10px;
        }
    }



        .menu__list{
            list-style: none;
            display: flex;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            text-transform: uppercase;
            justify-content: space-around;
            @media screen and(max-width:1000px){
                margin-bottom: 30px;
            }
            @media screen and(max-width:1000px){
                margin-bottom: 0px;
            }
            @media screen and(max-width:500px){
                font-size: 12px;
            }

        .menu__item{
            :not(:last-child){
                margin-left: 68px;
                @media screen and(max-width:1250px) {
                    margin-left: 20px;
                }
                @media screen and(max-width:500px){
                    margin-left: 0px;
                }
            }
            scroll-behavior: smooth;
            cursor: pointer;
        }    

        .menu__link {
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            color: #fff;
            text-decoration: none;
        }
            
       
        .link{
            width: 9px;
            height: 9px;
            margin-right: 14px;
            position: relative;
            background-color: transparent;
            border: 1px #fff solid;
            border-radius: 50%;
            top: -2px;
            @media screen and(max-width:500px){
                margin-right: 5px;
            }
        }
        .active {
            width: 9px;
            height: 9px;
            margin-right: 14px;
            position: relative;
            top: -2px;
            background-color: #fff;
            border-radius: 50%;
            @media screen and(max-width:500px){
                margin-right: 5px;
            }
        }
        }

    &__socials{
        display: flex;
        margin-left: 84px;
        @media screen and(max-width:1250px){
            margin-left: 40px;
        }
        @media screen and(max-width:1000px){
            display: none;
        }
        :not(:first-child){
            padding-left: 20px;
        }
    }
}

.section1{
    background-image: url(../img/headerBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 53px 0 53px;
    position: relative;

    &__title {
        font-family: "Gotham";
        font-size: 80px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #fff;
        text-align: center;
        margin-top: 263px;
        @media screen and(max-width:1024px){
            margin-top: 100px;
            font-size: 60px;
        }
        @media screen and(max-width:500px){
            font-size: 40px;
        }
    }

    &__subtitle {
        color: #ffffff;
        font-family: "Gothambook";
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 5.4px;
        text-align: center;
        margin-top: 39px;
        @media screen and(max-width:1024px){
            font-size: 15px;
        }
        @media screen and(max-width:500px){
            font-size: 12px;
        }
    }

    &__scrollDown{
        text-align: center;
        margin-top: 230px;
        @media screen and(max-width:1024px){
            margin-top: 70px;
        }
        @media screen and(max-width:650px){
            margin-top: 0px;
        }
    }

    &__slider{
        .slick-dots{
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 30px;
            top: 50%;
            right: -250px;
        }
    .slick-dots li {
    margin: 20px 0px; }
    }
    .slick-dots button {
        display: block;
        padding: 0;
        border: 1px solid #fff;
        border-radius: 100%;
        width: 9px;
        height: 9px;
        background-color: transparent;
        }
    .slick-dots li.slick-active button {
        background-color: #fff; }
        
    .slick-dots li button:before {
        font-size: 0px;
    }  
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 5;
    transition:  0.3s ease;
    background: linear-gradient(90deg, rgba(84,116,253,1) 29%, rgba(132,0,255,1) 54%);
    @media screen and(max-width:767px){
        padding: 0px;
    }
} 

