

.section3 {
    background: url(../img/bgnew.png);
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center; 
    padding: 100px 0;
    @media screen and(max-width:767px){
      padding: 40px 0;
    }

    &__wrapper {
      box-sizing: border-box;
      position: relative;
      padding-bottom: 70px;

      .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -70px;
      }
        

      .slick-dots li {
        margin: 0 40px;
        @media screen and(max-width:767px){
          margin: 0 10px;
        } }
      

      .slick-dots button {
        display: block;
        padding: 0;
        border: 1px solid #fff;
        border-radius: 100%;
        width: 9px;
        height: 9px;
        background-color: transparent;
        }
      

      .slick-dots li.slick-active button {
        background-color: #fff; }
        
      .slick-dots li button:before {
        font-size: 0px;
      }
        

      .changeSlideBtn {
        color: #fff;
        font-size: 24px;
        cursor: pointer; 

      &__prev {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 55%;
        left: -65px;
        width: 40px;
        height: 40px;
        opacity: 0.8;
        @media screen and(max-width:520px){
          display: none;
        } }
        

      &__next {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 55%;
        right: -65px;
        width: 40px;
        height: 40px;
        opacity: 0.8;
        @media screen and(max-width:520px){
          display: none;
        } }

      &__next:hover {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 100%; }
      &__prev:hover {
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 100%; }
        }
      }
          

      .news {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    

      &__title h2 {
        text-transform: uppercase;
        font-size: 44px;
        color: #fff;
        text-align: center;
        margin-bottom: 100px;
        margin-top: 40px;
        font-family: "Gotham";
        @media screen and(max-width:400px){
          font-size: 36px;
          margin-bottom: 50px;
        }
      }
  
      

      &__title hr {
        border: none;
        width: 100px;
        height: 1px;
        background-color: #fff; }
      

      &__block {
        max-width: 1180px;
        margin: auto;
        display: flex;
        flex-direction: row ;
        justify-content: space-between;
        position: relative;
        @media screen and(max-width:1340px){
          max-width: 770px;
        }
        @media screen and(max-width:930px){
          width: 370px;
        }
        @media screen and(max-width:400px){
          width: 290px;
        }
      
      }
      


      &__item {
        margin-left: 30px;
        max-width: 370px;
        height: 515px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #2c4058;
        background-color: #fff;
        position: relative;
        @media screen and(max-width:930px){
          margin-left: 0px;
        }
      }
    }
      

      .author {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 20px;
        height: 110px;
        background-color: #fff;
        font-family: "Gothambook"; 

          &__descr {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start; }
      
          &__name {
            font-size: 18px;
            text-transform: uppercase;
          margin-bottom: -10px; }
          

          &__date {
            margin-top: 15px;
            color: #55b7ff;}
          }

      .author img {
        width: 60px;
        height: 60px;
        margin-right: 20px; }

      }
          

      .news__img {
        width: 370px;
        height: 240px;
        cursor: pointer; }

      .news__img:hover + .news__zoom {
          background-color: rgba(0, 0, 0, 0.5); }

      .news__title {
        font-size: 22px;
        text-transform: uppercase;
        padding: 0 20px;
        box-sizing: border-box;
        font-family: "Gotham";
        @media screen and(max-width:400px){
          font-size: 16px;
          max-width: 300px;
        } }

      .news__text {
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        line-height: 30px;
        padding: 0 20px;
        box-sizing: border-box;
        overflow: hidden;
        height: 60px;
        width: 100%;
        background-color: #fff;
        @media screen and(max-width:400px){
          font-size: 15px;
          max-width: 300px;
        } }
      

      .news__zoom {
        width: 80px;
        height: 80px;
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid #fff;
        border-radius: 50%;
        cursor: pointer;
        @media screen and(max-width:400px){
          left: 40%;
        } }
        
      .news__zoom p {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        font-size: 44px; }
