body {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
  }
  h2,
  h3,
  h4 {
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }

  .container{
    max-width: 1170px;
    margin: auto;
  }


  @mixin button {
        width: 190px;
        height: 50px;
        border: 1px solid #2c4058;
        background-color: #fff;
        color: #2c4058;
        font-family: "Gotham - Book";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
        margin-bottom: 80px;
        cursor: pointer;
        &:hover{
          background-color: #7F72FD;
          transition: 1s ease;
        }
  }