.section2 {
    padding: 100px 0 140px;
    
    &__header hr{
        width: 100px;
        height: 1px;
        background-color: #2c4058;
        margin-bottom: 40px;
    }

    &__title {
        color: #2c4058;
        font-family: Gotham;
        font-size: 44px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 170px;
    }

    &__content {
        display: flex;
        position: relative;
    }
    
    &__images .square1{
        position: absolute;
        left: -215px;
        top: -70px;
        z-index: -1;}
    
    &__images .square2{
        position: absolute;
        right: -215px;
        top: -70px;
        z-index: -1;}

    &__text {
        margin-left: 70px;

        .text__subtitle{
            color: #2c4058;
            font-size: 22px;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
            margin-bottom: 18px;
        }

        .text__title{
            font-size: 44px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            font-family: "Gotham Bold";
            margin-bottom: 40px;
        }

        .text__descr {
            color: #4b5562;
            font-family: "Open Sans";
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 36px;
        }
    }

    &__btn {
        @include button;
        margin-bottom: 80px;
    }

    &__location {
        color: #2c4058;
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 30px
    }

    &__block2{
        margin-top: 210px;
        .section2__text{
            margin-left: 0;
            padding-right: 74px;
        }
    }
}