.section2 {
    padding: 100px 0 140px;
    @media screen and(max-width:640px){
        padding: 50px 0 70px;
    }
    
    &__header hr{
        width: 100px;
        height: 1px;
        background-color: #2c4058;
        margin-bottom: 40px;
    }

    &__title {
        color: #2c4058;
        font-family: "Gotham";
        font-size: 44px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 170px;
        @media screen and(max-width:1090px){
            font-size: 36px;
    }
        @media screen and(max-width:640px){
            margin-bottom: 60px;
        }
}
&__block1, &__block2 {
    @media screen and(max-width:640px){
        max-width: 360px;
        margin: auto;
    }
}

    &__content {
        display: flex;
        position: relative;
        @media screen and(max-width:640px){
            flex-direction: column;
            align-items: center;
            img{
                max-width: 100%;
            }
        }
    }
    
    &__images .square1{
        position: absolute;
        left: -215px;
        top: -70px;
        z-index: -1;
        @media screen and(max-width:1200px){
            display: none;}
        }
    &__images .square2{
        position: absolute;
        right: -215px;
        top: -70px;
        z-index: -1;
        @media screen and(max-width:1400px){
            right: -50px;
        }
        @media screen and(max-width:1300px){
            right: -20px;
        }
        @media screen and(max-width:1200px){
            display: none;
        }}

    &__text {
        margin-left: 70px;
        @media screen and(max-width:640px){
            margin-left: 0;
        }

        .text__subtitle{
            color: #2c4058;
            font-size: 22px;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
            margin-bottom: 18px;
            font-family: "Gothambook";
            @media screen and(max-width:960px){
                font-size: 18px;
            }
            @media screen and(max-width:807px){
                font-size: 13px;
                margin-bottom: 5px;
            }
        }

        .text__title{
            font-size: 44px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: "Gothambold";
            margin-bottom: 40px;
            @media screen and(max-width:1090px){
                font-size: 35px;
                line-height: 35px;
            }
            @media screen and(max-width:960px){
                font-size: 24px;
                line-height: 24px;
                margin-bottom: 10px;
            }
        }

        .text__descr {
            color: #4b5562;
            font-family: "Open Sans";
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 36px;
            @media screen and(max-width:960px){
                margin-bottom: 10px;
            }
            @media screen and(max-width:807px){
                font-size: 13px;
            }
        }
    }

    &__btn {
        @include button;
        margin-bottom: 80px;
        @media screen and(max-width:960px){
            margin-bottom: 20px;
            width: 140px;
            height: 40px;
        }

    }

    &__location {
        color: #2c4058;
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 30px;
        @media screen and(max-width:807px){
font-size: 10px;
        }
    }

    &__block2{
        margin-top: 210px;
        @media screen and(max-width:640px){
            margin-top: 50px;
        }
        .section2__text{
            margin-left: 0;
            padding-right: 74px;
        }

    }
}