@mixin button-style {
        background:linear-gradient(45deg, rgb(73, 107, 254) 50%, rgb(84, 116, 253) 50%);
        width: 225px;
        height: 60px;
        border: none;
        font-family: 'Josefin Sans', sans-serif;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        outline: none;

        &:hover {
            background: blue;
            transition: .5s;
        }

        @media screen and (max-width:1024px){
            margin-left: auto;

        }
        @media screen and (max-width:540px) {
            width: 150px;
            height: 30px;
            font-size: 10px;
            border-radius: 5px;
            letter-spacing: 1px;
        }

}


@mixin description {
        font-family: "Josefin Sans";
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
}

@mixin title {
    color: #ffffff;
    font-family: Aleo;
    font-size: 36px;
    font-weight: 400;
    line-height: 26px;
    
}