.about {
    height: 700px;
    background-color: #00c4c4;

    &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



    &__text {
    width: 499px;
    color: #ffffff;
    font-family: Raleway;
}

    &__heading {
    font-size: $fzH;
    font-weight: 700;
    margin-bottom: 34px;
}

    &__descr {
    font-size: $fzP;
    font-weight: 300;
}
}