.contact{
    background-image: url(../img/bg.png);
    background-size: cover;



    &__main-header {
    text-align: center;
    color: $main-color;
    font-family: Raleway;
    padding-top: 101px;
    width: 342px;
    margin: auto;
    }

    &__title {
    font-size: $fzH;
    font-weight: 700;
    margin-bottom: 48px;
    }

    &__descr {
        font-size: 17px;
        font-weight: 300;
            
    }
    
}

.content {
    display: flex;
    margin-top: 46px;
    @media screen and (max-width:868px) {
        flex-direction: column;
    }

        &__form {
        min-width: 500px;
    }
}

.form {

    &__grid {
    display: grid;
    gap: 15px;
}

    ::placeholder {
    color: #ffffff;
}

    &__input {
    width: 500px;
    height: 50px;
    border-style: none;
    background-color: rgba(0, 196, 196, 0.3);
    color: #ffffff;
    padding: 0 20px;
    font-family: Raleway;
    font-size: 15px;
    @media screen and (max-width:868px){
        max-width: 100%;
    }
}

    &__input:valid {
    outline: 2px green solid;
}

    &__input:focus {
    outline: 2px blue solid;
}

    &__input--active {
    opacity: 1;
    background-color: rgba(0, 196, 196, 1);
}

    &__error {
    font-size: 12px;
    padding-top: 11px;
    opacity: 0;
    padding: 4px 0;
    transition: all 0.5s;
    font-family: "Raleway - Bold";
}
 

    &__input:invalid+&__error {
    opacity: 1;
}

    &__input:invalid {
    outline: 2px red solid;
    transition: all 0.5s;
}

    &__item--active {
    position: relative;
}

    &__item--active::before {
    content: '';
    position: absolute;
    height: 75%;
    width: 7px;
    margin-top: -2px;
    margin-left: -2px;
    background-color: #355b82;
    z-index: 1;
}

    &__message {
    background-color: rgba(0, 196, 196, 0.5);
    border-style: none;
    width: 500px;
    height: 250px;
    padding: 5px 20px;
    color: #ffffff;
}

    &__message:focus {
    outline: 2px blue solid;
}

}


    .content {
    &__our-contacts {
    padding-left: 170px;
    @media screen and (max-width:868px){
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-around;
    }
}
}

    .contact__text {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: "Raleway - Light";
    }

    .contact__type {
    font-size: 20px;
    font-weight: 700;
    font-family: "Raleway - Bold";
    text-transform: uppercase;
    }

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #b9b9b9;
    margin-top: 120px;
    height: 90px;
    background-color: #262626;
    font-family: "Raleway";
    &__logo {
        @media screen and (max-width:868px) {
            display: none;
        }
    }
    &__social {
        position: relative;
        height: 100%;
    }
    &__icons {
        height: 100%;
        width: 50px;
    
    }
}