.gallery-page {
background-color: #ffe92f;


    &__header {
    color: $main-color;
    max-width: 577px;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    }
          
    &__title {
    font-size: $fzH;
    margin-bottom: 28px;
    font-weight: 700;
    @media screen and (max-width:1200px){
        font-size: 60px;
    }
    }
        
    &__desc {
    font-size: $fzP;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 46px;
    @media screen and (max-width:1200px){
        font-size: 15px;
    }
    }

    &__btn {
        margin-top: 50px;
        margin-bottom: 120px;
        border-style: none;
        border-color: transparent;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        width: 200px;
        height: 55px;
        background-color: #5585a2;
        color: #ffffff;
        font-size: 20px;
        font-weight: 300;
        line-height: 27px;
        text-transform: uppercase;
        position: relative;
        font-family: "Raleway";
    }
        &__btn:hover {
        @include btn-hover;
        }
    }
.btn-wrapper {
    text-align: center;
}

.gallery img {
    max-width: 100%;
}


        .gallery__block1 {
            display: flex;
            @media screen and (max-width:1200px){
                flex-wrap: wrap;
            }

            .block1__item--small {
            display: flex;
            flex-direction: column;

                @media screen and (max-width:1200px) {
                    display: flex;
                    flex-direction: row;
                    margin: auto;
                    margin-top: 10px;
                }
            
            }
            
            .block1__item--big {
                margin-right: 30px;
                width: 70%;
                max-height: 550px;
                @media screen and (max-width:1200px) {
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    
                }
            }
            
            }

            .block1__item {
                margin-bottom: 30px;
                margin-right: 30px;
                max-height: 260px;
                @media screen and (max-width:1200px){
                    margin: 0;
                }
            }
            
        .gallery__block2 {
            display: flex;
            @media screen and (max-width:1200px){
                display: none;
            }
            .block2__item {
                margin-right: 30px;
            }
        }
        
    