.page {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.header{
    position: relative;
    height: 100vh;
    background-image: url(../img/main-bg.png);
    background-position: left 40px top -5px;
    background-repeat: no-repeat;
    background-size: 100%;
       

    img {
        max-width: 100%;
    }

    &__content {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        @media screen and (max-width:1200px){
            flex-direction: column;
            align-items: center;
    }

    
}
    &__navpanel {  
        margin-top: 20px;
        position: relative;

        .burger-menu {
            width: 50px;
            height: 50px;
            background-image: url(../img/menu.svg);
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            @media screen and (min-width:660px) {
                display: none;
            }
        }
        

    .nav__toggler {
        position: absolute;
        left: 10px;
            @media screen and (min-width:660px) {
                display: none;
            }
        }
       
        }
.main-nav {
    display: flex;
    list-style: none;
    @media screen and (max-width:660px) {
        display: none;
    }
    .nav__toggler:checked + .main-nav {
        display: flex;
        flex-direction: column;
        }

    &__item {
    margin-right: 40px;
    color: $main-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    font-family: "Raleway";
    position: relative;
    @media screen and (max-width:1200px) {
        padding: 0 10px;
    }
    @media screen and (max-width:768px) {
        margin: 0;
    }
}

    &__item:hover {
    cursor: pointer;
}

    &__item:not(:first-child):hover::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    margin-top: -9px;
    background-color: #ff6033;
}

    &__item--active {
    position: relative;
}

    &__item--active::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 50px;
    margin-top: -9px;
    background-color: #ff6033;
    }

    &__link {
    text-decoration: none;
    color: $main-color;
    }
}

.main-title {
    max-width: 368px;
    margin-top: 360px;
    color: $main-color;
    font-family: "Raleway";
    text-align: left;
    @media screen and (max-width:1200px) {
        margin: 220px auto;
    }
   


    &__title {
    font-family: "Raleway - Heavy";
    font-size: 60px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 34px;
}

    &__descr {
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 31px;
}

    &__btn {
    border-style: none;
    border-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 55px;
    background-color: #ff6033;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    text-transform: uppercase;
    position: relative;
    font-family: "Raleway";
    }
    
    &__btn:hover {
    @include btn-hover;}
}



.main__img-scroll {
    position: absolute;
    right: 50%;
    bottom: 70px;
}
}

