.our-services {
    background-color: #70bfff;
    width: 100%;
    height: 790px;
    display: flex;
    font-family: Ralewey;

    .container {
        display: flex;
        width: 1080px;
    }
    
    .services-list {
    font-size: 20px;
    width: 400px;
    font-family: Raleway;
    list-style: none;
    display: flex;
    flex-direction: column;
        
            &__content {
            display: flex;
        }
        
        &__item {
            display: flex;
            background-color: white;
            margin-bottom: 20px;
            height: 100px;
            width: 75%;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            line-height: 27px;  

           }
    &__icon {
    width: 25%;
    height: 100px;
    padding: 26px;
    border-left: 1px solid #9d9d9d;
    background-color: #ffff;
           }
       }
}
    .tomato {
        margin-left: 208px;
        position: relative;
    }
   .services__title {
       position: absolute;
       top: 231px;
       right: 1px;
       font-size:$fzH;
       width: 539px;
       color:white;
   }