.subscribe {
    height: 500px;
    background-image: url(../img/bg-sub.png);
    background-size: cover;
    background-position: center;

    .subscribe__header {
    width: 541px;
        .subscribe__title {
        font-size: 40px;
        padding-top: 145px;
        margin-bottom: 34px;
    }
        .subscribe__desc {
            font-size: 17px;
            margin-bottom: 31px;
            line-height: 27px;
        }
}
    .subscribe__email {
        width: 570px;
        height: 55px;
        border: 1px solid #262626;
        outline-style: none;
        padding: 15px 22px;
        &::placeholder{
            color: rgba($color: #262626, $alpha: 0.5);
        }
        }
    
        .subscribe__btn {
        width: 170px;
        height: 55px;
        margin-left: 30px;
        background-color: #96b92c;
        border-style: none;
        color: #ffffff;
        font-family: Raleway;
        font-size: 20px;
        &:hover {
            cursor: pointer;
        }
    }
    }
