.subscribe {
    height: 500px;
    background-image: url(../img/bg-sub.png);
    background-size: cover;
    background-position: center;

    &__header {
    max-width: 541px;
    }
    &__title {
    font-size: 40px;
    padding-top: 145px;
    margin-bottom: 34px;
    @media screen and (max-width:768px){
        padding-top: 50px;
    }
}
    &__desc {
    font-size: $fzP;
    margin-bottom: 31px;
    line-height: 27px;
    }


    &__form {
    display: flex;
    @media screen and (max-width:768px) {
        flex-direction: column;
        
    }
    }

        &__email {
        width: 570px;
        height: 55px;
        border: 1px solid $main-color;
        outline-style: none;
        padding: 15px 22px;
        @media screen and (max-width:768px){
            max-width: 100%;
        }
        }
    
        &__btn {
        width: 170px;
        height: 55px;
        margin-left: 30px;
        background-color: #96b92c;
        border-style: none;
        color: #ffffff;
        font-family: Raleway;
        font-size: 20px;
        &:hover {
            @include btn-hover;
        }
        @media screen and (max-width:768px) {
            margin: 20px 0;
        }
    }
    }
