@font-face {
    font-family: "Bebas Neue - Thin";
    src: url(../src/fonts/BebasNeue/BebasNeue-Thin.ttf);
}

@font-face {
    font-family: "Bebas Neue Light";
    src: url(../src/fonts/BebasNeue/BebasNeue-Light.ttf);;
}

@font-face {
    font-family: "Bebas Neue Regular";
    src: url(../src/fonts/BebasNeue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: "Bebas Neue Bold";
    src: url(../src/fonts/BebasNeue/BebasNeue-Bold.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../src/fonts/roboto/Roboto-Regular.ttf);
}