@font-face {
    font-family: "Raleway";
}

* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    margin: 25px auto;
    max-width: 1500px;
    height: 864px;
    background-color: #b07cf7;
    font-family: "Raleway", sans-serif;
}

.container {
    text-align: center;
    margin: auto;
}

header {
    padding-top: 100px;
}

.container h1 {
    font-size: 90px;
    font-weight: 700;
    line-height: 25px;
    color: #ffffff;
}

header p {
    width: 563px;
    height: 66px;
    margin: auto;
    margin-top: 60px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.gallery {
    width: 1170;
    display: flex;
    justify-content: center;
    margin-top: 47px;
}

.item-gallery {
    border: transparent;
    position: relative;
}

.item-gallery:nth-child(1n+1) {
    margin-right: 30px;
}

.data p {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    line-height: 25px;
    justify-content: space-around;
}

.data span {
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    font-family: "Raleway - Heavy", sans-serif;
}

.data p {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.tittle {
    text-align: left;
    position: absolute;
    left: 20px;
    top: 209px;
    width: 307px;
    height: 78px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}

.tittle+p {
    position: absolute;
    top: 275px;
    left: 20px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway - Light";
}

.more {
    margin-top: 50px;
    width: 200px;
    height: 55px;
    background-color: #f72b3b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: #f72b3b;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    text-transform: uppercase;
}

.more:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
    transition: 2s;
}